<!DOCTYPE html>
<html lang="ja">
    <head>
        <mata charset="utf-8">
        <title>Sinatra - paiza</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%= yield %>
    </body>
</html>
